body{
	margin: 0;
    font-family: 'Open Sans', sans-serif;
	color: black;
	background: white;
}

hr{
	width: 100%;
}

#header{
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	height: 4em;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#main-nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#main-nav .nav-item{
	margin: 0px 10px;
	font-size: 1.5em;
	text-shadow: #a00000 -1px 0px;
}
#main-nav .nav-item:hover{
	text-shadow: #a00000 -1px 1px;
}

#main-nav .nav-item a{
	color: black;
	text-decoration: none;
}

#site-title a{
	color: black;
	text-decoration: none;
}

#site-title{
	color: black;
	text-decoration: none;
	/*
    font-family: 'Oswald', sans-serif;
	font-family: 'Faster One', cursive;*/
	*/
	font-family: 'Inknut Antiqua', serif;
	font-size: 3em;
	text-shadow: #a00000 -1px 0px;
	padding: 0;
	margin: 10px;
}

#site-title:hover{
	text-shadow: #a00000 -2px 2px 1px;
}

.homepage-img{
	/*height: 60vh;*/
	/*max-width: 450px;*/
	position: relative;
}

.homepage-img:hover{
	z-index: 100;
	/*
	border: 50px solid white;
	transform: translate(-50px, -50px);
	*/
}

#shoot-bulk{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	justify-items: center;

}

#shoot-bulk .shoot-img{
	width: calc(100vw/6);
}

#shoot{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}

#shoot .shoot-img{
	width: calc(100vw/3);
}

@media screen and (max-width: 600px) {
	#shoot{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		align-items: center;
		justify-items: center;
	}

	#shoot .shoot-img{
		width: calc(100vw/1);
	}

	#site-title{
		font-size: 1.5em;
	}

	#main-nav .nav-item{
		margin: 0px 10px;
		font-size: 1em;
	}

	#shoot-bulk{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		justify-items: center;

	}

	#shoot-bulk .shoot-img{
		width: calc(100vw/3);
	}
}


#contact-page{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#contact-form{
	width: 50vw;
}

#contact-form textarea{
	width: 100%;
}

#email-confirmation{
	text-align: center;
}

#work-page{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#work-menu{
	max-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 60vw;

}
.work-item{
	margin: 7px;
	color: black;
	text-decoration: none;
	text-shadow: #a00000 -1px 0px;
}
.work-item a{
	color: black;
	text-decoration: none;
}

.work-item:hover{
	text-shadow: #a00000 -1px 1px;
}
